.App {
    background: #6C6969;
    color: white;
    text-align: center;
}

.App-header {
    background: #6C6969;
    color: white;
    text-align: center;
}

.Stick-board {

    border: 1px solid coral;

}

.Red {
    display: inline-block;
    height: 200px;
    width: 15px;
    margin: 2px;
    background: coral;
    border: 1px solid aqua;
    border-radius: 7px;
}


.Blue {
    display: inline-block;
    height: 200px;
    width: 15px;
    margin: 2px;
    background: aqua;
    border: 1px solid coral;
    border-radius: 7px;
}

.Turn-button-red {
    width: 50px;
    height: 50px;
    margin: 15px;
    background: coral;
    border: 1px solid aqua;
}

.Turn-button-blue {
    width: 50px;
    height: 50px;
    margin: 15px;
    background: aqua;
    border: 1px solid coral;
}

body {
    background: #6C6969
}

.Reset-button {
    width: 150px;
    height: 50px;
    margin: 15px;
    font-size: 24px;
    font-family: Helvetica;
    background: black;
    color: white;
}


